{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
			{% if message %}
			<section class="{{ message.type}}">
				<h1>{{ message.title }}</h1>
				<p>{{ message.text }}</p>
			</section>
			{% endif %}
			<section class="account-info">
				<h1>Account Information</h1>
				<p>Account name: {{ account.holder }}</p>
				<p>Account balance: &yen;{{ account.balance }}</p>
			</section>
			<section class="transfer">
				<h1>Funds Transfer</h1>
				<form name="transfer" method="get">
					<label for="payee">Payee</label>
					<select name="payee" id="payee">
						{% for payee_account in all_accounts %}
							<option value="{{ payee_account.account_id}}">{{ payee_account.holder }}</option>
						{% endfor %}
					</select>
					<label for="amount">Amount (&yen;)</label>
					<input type="text" name="amount" id="amount">
					<button type="submit">Transfer</button>
				</form>
			</section>
{% endblock %}