{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
			{% if message %}
			<section class="{{ message.type}}">
				<h1>{{ message.title }}</h1>
				<p>{{ message.text }}</p>
			</section>
			{% endif %}
			<section class="account-info">
				<p>Account name: {{ account.holder }}</p>
				<p>Account balance: {{ account.balance }}</p>
			</section>
			<section class="transfer">
				<form name="transfer" method="get">
					<label for="payee">Payee</label>
					<input type="text" name="payee" id="payee">
					<label for="amount">Amount</label>
					<input type="text" name="amount" id="amount">
					<button type="submit">Transfer</button>
				</form>
			</section>
			{{all_accounts}}
{% endblock %}